.radar{
  margin-left: 10px;
  margin-right: 5px;
  width: 340px;
  height: 340px;
}

.radar-wrap{
  height: 100%;
  width: 100%;
  background-image: url('/static/map/de_dust2_radar.png');
  background-size: contain;
  border: 4px solid lightblue;
}

.radar-player{
  position:absolute;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  text-align: center;
  overflow: hidden;
  transition: 200ms all;
  z-index: 5;
  border: 0.6px solid black;

  span{
    color: black;
    font-size: 12px;
  }

  &.T{
    background-color: #ffb900;
  }

  &.CT{
    background-color: #2688f8;
  }

  &.dead{
    background-color: rgba(153, 153, 153, 0.95) !important;
    transition: 0 all;
    z-index: 1;
  }
}
