.SideBar{
  min-height: 100%;
  width: 300px;
  z-index: 1;
  position: absolute;
  background-color: #303D74;
  color: white;

  .Navigation-side{
    padding-left: 0;
    margin: 0;

    li{
      border-bottom: #162356 solid 1px;
      position: relative;
      display: block;
    }
  }
}

.ConnectionInfo{
  text-align: center;
  padding: 20px;
  font-size: 1.5rem
}

.ConnectionInfo p{
  margin-bottom: 10px;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.link-header{
  padding: 10px 15px;
  font-size: 1.5rem;
}

.link-normal{
  padding: 10px 15px;
  font-size: 1.5rem;
  cursor: pointer;
}


.selected{
  background-color: #1F2C62;
  transition: background-color 150ms;
  cursor: pointer;
}

.selected-header{
  background-color: #121E50;
}

.selected:hover{
  background-color: #121E50;
}


.Item-name{
  padding-left: 28px;
}

.status, .server{
  margin-bottom: 15px;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  line-height: 1.5;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap;
  height: 1.6em;

  &.connected{
    background-color: #23d160;
    color: #fff;
  }

  &.disconnected{
    background-color: #ff3860;
    color: #fff;
  }

  &.warning{
    background-color: #ffdd57;
    color: rgba(0,0,0,.7);
  }
}