.overlay{
  display: grid;
  grid-template-columns: 355px 1fr 355px;
  height: 100vh;
}

.overlay-left{
  display: grid;
  grid-template-rows: auto 1fr auto; 
}

.overlay-center{
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.overlay-right{
  display: grid;
  grid-template-rows: 1fr auto;
}
