@import "../variables.less";

.player-plate{
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  transition: 80ms all;

  &.CT{
    .grid-upper p,
    .ammo-off,
    .team-highlight{
      color: @ct-color-main;
    }

    .grid-upper{
      border-bottom: 2px solid @ct-color-main;
    }
  }

  &.T{
    .grid-upper p,
    .ammo-off,
    .team-highlight{
      color: @t-color-main;
    }
    
    .grid-upper{
      border-bottom: 2px solid @t-color-main;
    }
  }


  .grid{
    width: 720px;
    display: grid;
    grid-template-rows: 50px 50px 90px;

    .grid-upper{
      margin-left: auto;
      margin-right: auto;
      width: 350px;
      background-color: @ui-default-darkest;
      border-radius: 20px 20px 0px 0px;

      p{
        font-size: 30px;
        line-height: 50px;
        text-align: center;
        font-weight: bold;
      }
    }

    .grid-lower{
      display: grid;
      grid-template-columns: 1fr 350px 1fr;
      font-weight: bold;
      color: white;
      
      .grid-hp {
        border-top-left-radius: 20px;
        font-size: 26px;
        line-height: 48px;
        padding-top: 2px;
        text-align: center;
        display: flex;

        .item{
          flex: 1;

          .icon-center{
            vertical-align: text-top;
            height: 30px;
            padding-bottom: 1px;
          }

          img, b{
            margin-right: 3px;
          }
        }
      }

      .grid-ammo {
        border-top-right-radius: 20px;
        font-size: 26px;
        line-height: 48px;
        padding-top: 2px;
        text-align: center;
        display: flex;
        overflow: hidden;

        .item{
          flex: 1;

          &.grenades{
            display: flex;
            margin-left: 7px;
            vertical-align: top;

            .multiple-grenades{
              display: flex;
              vertical-align: top;
            }

            .player-grenade{
              width: 22px;
              padding-top: 1px;
              vertical-align: top;
            }
          }

          .ammo-off{
            font-size: 19px;
          }
        }
      }

      .grid-stats{
        font-size: 18px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        display: grid;

        .single-row{
          line-height: 50px;
          font-size: 20px;
          display: flex;
          .logo,
          .kills{
            margin-left: 7px;
          }
        }

        .two-rows{
          grid-template-rows: 1fr 1fr;
          padding-top: 2px;
          text-align: center;
          display: grid;
        }

        .stats-utility{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .grid-lower-light{
        background-color: @ui-default-dark;
      }

      .grid-lower-dark{
        background-color: @ui-default-darkest;
      }
    }
  }
}
