@import "../variables.less";

.color-grades{
  &.bad{
    color: @grades-color-bad
  }
  &.poor{
    color: @grades-color-poor
  }
  &.fair{
    color: @grades-color-fair
  }
  &.good{
    color: @grades-color-good
  }
  &.excellent{
    color: @grades-color-excellent
  }
}


.team{
  width: 355px;
  display: flex;
  flex-direction: column;
  color: white;
}

.team-container{
  position: relative;
  top: 65px;
  transition: all 350ms linear 10s;
  -webkit-transition: all 350ms linear 10s;
  opacity: 0;
  height: 60px;

  &.show{
    opacity: 1;
    top: 0;
    transition: 350ms all;
  }
  
  .team-info{
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-rows: 22px 1fr;
    height: 60px;
    border-radius: 10px;
    background-color: @ui-default-dark;

    .desc{
      padding: 2px 10px 0;
      font-weight: bold;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
    }
  
    .utils{
      display: flex;
      
      .team-grenade-area{
        flex: 1;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 34px;
        margin: 0 7px;
        
        .decoy{
          margin-bottom: 4px;
        }

        .multi{
          font-size: 20px;
          padding: 0 3px;
        }

        .amount{
          font-size: 30px;
        }
      }
    }
  }
}
