.modal-container-desc{
  width: 100% !important;
  
}

.dropbox-container{
  float: left;
  height: 36px;

  &.invis{
    display: none;
  }

  .inputfile-modal{
    background: lightgray;
    border-radius: 5px;
    height: 100%;
    cursor: pointer;
  }
}

.team-selection-modal{
  display: flex;
  margin: 15px;

  .selection-box{
    margin: 20px;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 200ms;

    &.disabled {
      cursor: not-allowed;
      filter: invert(20%) grayscale(100%) brightness(80%) contrast(1);
      
      &:hover {
        transform: scale(1);
      }
    }
    
    &:hover {
      transform: scale(1.15);
    }

    p{
      text-align: center;
      font-weight: bold;
      font-size: 1.4em;
    }
  }
}
.selection-header{
  display: flex !important;
  justify-content: center;
}