.drawer{
  min-height: 100%;
  z-index: 1;
  outline: none;
  overflow-y: auto;
  flex-direction: column;
  flex: 1 0 auto;
  display: flex;
  position: fixed;
  left: 0;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  transition: 200ms width, 200ms max-width;

  background-color: #303D74;
  color: #fff;

  &::-webkit-scrollbar{
    display: none;
  }

  &.hidden{
    width: 65px;
    transition: 200ms width, 200ms max-width;
    max-width: 65px;

    .drawer-container{
      width: 65px;
      transition: 200ms width;

      .current-status {
        margin-top: 65px;
        p{ display: none }
      }

      .drawer-list .drawer-link .item-text{
        display: none;
      }

      .item-icon{
        min-width: 100%;
      }
    }
  }

  .drawer-container{
    width: 250px;
    transition: 250ms width;

    .current-status{
      padding: 1em;
      position: relative;
      list-style: none;
      display: block;
      font-size: 1rem;
      text-align: center;
      font-weight: bolder;
      margin-top: 50px;
    }

    .drawer-divider{
      border: none;
      height: 1px;
      margin: 0;
      flex-shrink: 0;
      background-color: #162356;
    }

    .drawer-list{
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0;
      padding: 0;
      position: relative;
      list-style: none;
      display: block;

      .drawer-link{
        color: inherit;

        &.chosen .drawer-list-item{
          background-color: #12215D !important;
          border-left: 4px solid #db2828;
          color: #db2828;
          font-weight: bold;

          .item-icon i{
            color: #db2828;
          }
        }


        .drawer-list-item{
          outline: none;
          vertical-align: middle;
          cursor: pointer;

          transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
          padding-left: 16px;
          padding-right: 16px;
          width: 100%;
          display: flex;
          position: relative;
          box-sizing: border-box;
          text-align: left;
          align-items: center;
          padding-top: 8px;
          padding-bottom: 8px;
          justify-content: flex-start;
          text-decoration: none;

          &:hover{
            background-color: #202a6b;
          }

          .item-icon{
            color: rgba(0, 0, 0, 0.54);
            display: inline-flex;
            min-width: 56px;
            flex-shrink: 0;

            i{
              color: #21ba45;
              width: 1.5em;
              height: 1.5em;
              display: inline-block;
              font-size: 1.5em;
              transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
              user-select: none;
              
            }
          }

          .item-text{
            flex: 1 1 auto;
            min-width: 0;
            margin-top: 4px;
            margin-bottom: 4px;

            span{
              font-size: 1rem;
              font-family: "Roboto", "Helvetica", "Arial", sans-serif;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.00938em; 
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .drawer{
    display: block;
    position: relative;
    width: 100%;
    transition: top 200ms;
    overflow-y: auto;

    .drawer-container{
      width: 100%;
    }

    &.hidden{
      left: 0;
      display: none;
    }
  }
}
