
@ct-color-main: #2688f8;
@ct-color-gradient-main: #54A6E5;
@ct-color-gradient-off: #004799;

@t-color-main: #ffb900;
@t-color-gradient-off: #5e3b00;

@money-color: #21c650;
@health-lost-color: red;

@ui-default-light: rgba(1, 64, 137, 0.5);
@ui-default-dark: rgba(1, 64, 137, 0.6);
@ui-default-darkest: rgba(3, 26, 54, 0.8);
@ui-default-darkest-inv: rgba(3, 26, 54, 0);
@ui-text-dark: #0c2045;
@ui-text-light: #1d3b5d;
@ui-default-black: rgba(7, 7, 7, 0.80);

@dead-color-main: rgba(153, 153, 153, 0.95);

@status-good: #339966;
@status-poor: #ff3300;